.contact{
    background: url('/maket/map.jpg') center center/cover no-repeat;
    position: relative;

    @include tablets{
        height: rem(1030px);
    }
}

.footer{
    background: #161616;
    padding: rem(20px);
    position: absolute;
    top: 87%;

    @include tablets{
        top:93%;
    }

    @include phones{
        top: 84%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.footer__left{
    width: 50%;
    display: inline-block;

    @include phones{
        text-align: center;
    }
}

.footer__right{
    width: 49%;
    text-align: right;
    display: inline-block;

    @include phones{
        text-align: center;
    }
}

.contact__text{
    color:#fff;

    @include phones{
        margin-bottom: rem(20px);
    }
}

.contact__tel{
    color: $red;
    text-decoration: none;
    &::before{
        content: '';
        display: inline-block;
        background: url('/img/contact/phone.png');
        width: rem(12px);
        height: rem(11px);
        margin-right: rem(5px);
    }
}

.socials__item{
    display: inline-block;
}

.socials__icon{
    width: rem(22px);
    height: rem(22px);
    fill: #585858;
    margin-right: rem(20px);
    &:hover{
        fill:#fff;
    }
}

.contact__adress{

    @include phones{
        margin-bottom: rem(20px);
    }
}

